.nt_rating_main .py_70{
padding: 50px 0px;
}
.nt_rating_main .alluser_text{
    font-size: 20px;
    color: #244276;
    padding: 10px 0px;
}
.nt_rating_main .give-rating_button{
  padding: 10px 0px;
}
.nt_rating_main .give-rating_button .button-primary{
font-size: 15px;
border:1px solid #0073aa !important;
border-radius: 5px !important;
padding:0px 25px !important;
height: auto !important;
}

.nt_rating_main #selectedmonth{
	display: none;
}
.nt_rating_main .button-primary{
font-size: 15px;
border:1px solid #0073aa !important;
border-radius: 5px !important;
padding:2px 25px !important;
height: auto !important;
}

.nt_rating_main .panel-heading{
	padding:10px 5px;
}
.nt_rating_main .maintable-bordered{
	padding: 30px 0px;
}
.nt_rating_main .pl_20{
padding-left: 30PX;
}
.nt_rating_main .pl_20 h3{
text-transform: capitalize;
}
.nt_rating_main .mt_42{
	margin-top: 42px;
}	
